
.titulo-seccion{
    margin-top: 5rem;
        font-size: 4rem;
        font-weight: $bold;
    
}

.contenedor-servicios {
    padding: 2rem;
    @include tablet {
        
        @include grid(2, 2rem)
    }

    
}



.contenido-servicio {
    text-align: center;
    border: 1px solid $gris;
    margin-bottom: 4rem;
    border-radius: 2rem;
    padding: 3rem 2rem;

    @include tablet {
        margin-bottom: 0;
    }

    h2 {
        font-weight: $black;
        margin-bottom: 1rem;
        margin: 0 0 2rem 0;
        
    }

    h3 {
        margin-top: 0;
            font-weight: $regular;
            line-height: 1.5;
    }

    p {
        margin-top: 0;
        text-align: center;
        // line-height: 2;
    }

    .icono-caracteristicas {
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        margin: 3rem 0;
        padding: 0;


        img {
            max-width: 5rem;
        }

        a {
            align-items: center;
        }
    }

}